header{
    background-color:#B1F7C9;
    background-image: url('https://intro-webdesign.com/CSS/assignment-2/images/flywheel.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    padding: 30px 50px 10px;

}

body{
    padding: 0.5% 0.5%;
    margin: 2% 2%;
    font-size: large;
}

h1,h2{
    text-transform:uppercase;
}

h1{
  text-align:center;
  color:#ffffff; 
  font-size: 150%;
  font-family: Arial, Helvetica, sans-serif;
  font-style: oblique;
}

h2{
  color: #0530a5;
}

section{
  display: inline-block;
}

a {
  color:#011F60;
}

nav a{
    color: #000000;
    text-align:center;
    text-decoration:none;
    display: inline-block;
    padding: 3% 5%;
    background-color:#ffffff;
    opacity: 0.5;
    margin:5% 1% 0.5%;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    
}

nav a:hover, nav a:focus,.active{
    opacity: 1;
}

.left{
    background-color: rgb(46, 92, 33);
    padding:0.5%;
    float: left;  
    width:30%;
    height: 200vh;
}

img{
    border: 2px solid #012204;
    margin: 20% auto;
    width: 80%;
    display: block;
}

.right{
    display:inline-block;
    float: right;
    width: 65%;
}

table{
    font-family: 'Times New Roman', Times, serif;
    font-size: 100%;
    font-weight: 500;
    line-height: 100%;
    width: 80%;
    margin: 0 auto;
    border: 1px solid #012204; 
    border-spacing: 1px;
  }

  table th{
    color: #012204;
    font-weight: 800;
    background: rgb(230,250,110);
    background: linear-gradient(0deg, rgba(230,250,110,1) 0%, rgba(89,140,10,1) 55%);
    background: -webkit-linear-gradient(0deg, rgba(230,250,110,1) 0%, rgba(89,140,10,1) 55%);
    background: -moz-linear-gradient(0deg, rgba(230,250,110,1) 0%, rgba(89,140,10,1) 55%);
    padding: 1% 2%;
    border-radius: 3px 3px 0px 0px;
    -webkit-border-radius: 3px 3px 0px 0px;
    -moz-border-radius: 3px 3px 0px 0px;
    border:1px solid #012204;
    border-bottom: 2px solid #012204;
  }

  table td{
      background-color: rgb(234, 245, 133);
      color: #012204;
      padding: 1% 2%;
      text-shadow: 1px 1px 2px #000000;
      text-align: center;
      border-radius: 2px;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      opacity: 0.7;
      overflow: hidden;
  }

  th:first-child,tr>td:first-child{
      text-align: left;
  }

  td:hover{
      opacity: 1;
  }
  


 