header{
    background-color: #B1F7C9;
}

h1,h2{
    text-transform:uppercase;
}

h1{
  text-align:center;
  color:#086CEC; 
}

h2{
  color: #5D04F9;
}

section{
  background-color:#E4CEF9;
}

img {
  display:none;
}

a {
  color:#011F60;
  background-color:#CFE4FE;
}